<div id="<%= dom_id brewery %>">
  <h2>
    <strong>
			<%= brewery.name %>
		</strong>
  </h2>

  <i>
		Established in
    <%= brewery.year %>
  </i>

	<p>
		Beers count: 
		<%= brewery.beers.count %>
	</p>

</div>
